* {
  box-sizing: border-box;
}

header,footer {
  border: 3px solid black;
  height: 90px;
  clear: both;
}

section {
  border: 3px solid black;
  height: 350px;
  float: left;
  width: 15%;
}
.box2 {
  width: 55%;
}