* {
  box-sizing: border-box;
}

header,footer {
  border: 3px solid black;
  height: 90px;
  clear: both;
}

section.box1 {
  border: 3px solid black;
  float: left;
  width: 15%;
  height: 700px;
}
section.box2 {
  border: 3px solid black;
  float: left;
  width: 55%;
  height: 700px;
}
section.box3 {
  border: 3px solid black;
  float: left;
  width: 15%;
  height: 700px;
}
section.box4 {
  border: 3px solid black;
  float: left;
  width: 15%;
  height: 700px;
}